#gh_logo {
  position: absolute;
  top: 1vh;
  right: 10vw;
}

button {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.myButton:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.myButton:active {
  position: relative;
  top: 1px;
}

#container {
  height: min(80vh, 80vw);
  width: min(80vh, 80vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  width: 100%;
  height: 100%;
}

.clearfix-7da63 {
  clear: both;
}
.board-b72b1 {
  border: 2px solid #404040;
  box-sizing: content-box;
}
.square-55d63 {
  float: left;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.white-1e1d7 {
  background-color: #b5e4f0;
  color: #3c4f77;
}
.black-3c85d {
  background-color: #3c4f77;
  color: #b5e4f0;
}
.highlight1-32417,
.highlight2-9c5d2 {
  box-shadow: inset 0 0 3px 3px #ffffff;
}
.notation-322f9 {
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
}
.alpha-d2270 {
  bottom: 1px;
  right: 3px;
}
.numeric-fc462 {
  top: 2px;
  left: 2px;
}
